*
{
    background-image: url(Fundo_login.png);
    background-attachment: fixed;
    background-position: right top;
    background-size: 100%;
}

p
{
    background: none;
}

#container_log
{
    display: grid;
    justify-content: center;
    align-content: start;
    text-align: center;
    width: 445px;
    height: 500px;
    margin: 0 auto;
    margin-top: 110px;
    margin-left: 48%;
    position: fixed;

    border-style: solid;
    border-radius: 13px;
    border-width: 1px;
    border-color:rgb(212, 212, 212);
    background: white;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 7px 15px 12px rgb(248, 242, 242);
}

#bem_vindo
{
    font-size: 23px;
    font-weight:bold;
    font-family:Arial;
    margin-top:73px;   
    color: blue ;
}

input
{
    height:35px;
    width: 375px;
    margin: 3% 0 3% 0;
    background: #fbf4f4;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color:rgb(200, 218, 218);

    font-size: 15px;
    font-weight: 100;
}