.carousel {
    position: relative;
    height: 400px;
    width: 850px;
  }
  
  .slides {
    height: 100%;
    width: 926px;
    margin: auto;
    position: relative;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 926px;
    font-size: 3em;
    color: white;
    line-height: 400px;
    text-align: center;
    opacity: 0;
    margin: auto;
    transition: opacity 1000ms;
  }
  
  
  .slide[data-state=active] 
  {
    display: block;
  }
  
  .indicators 
  {
    width: 926px;
    margin: auto;
    text-align: center;
    position: absolute;
    display: inline-block; 
    padding-left: 10px;
    padding-top: 15px;
  }
  
  .indicator 
  {
      cursor: pointer;
  }

  .slide-image
  {
    width: 926px !important;
    height: 551px !important;
    margin: auto;
  }

  #carousel
  {
    width: 926px !important;
    height: 551px !important;
  
  }