.carousel {
    position: relative;
    height: 400px;
    width: 750px;
  }
  
  .slides {
    height: 100%;
    width: 100%;
    position: relative;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 3em;
    color: white;
    line-height: 400px;
    text-align: center;
    opacity: 0;
    transition: opacity 1000ms;
  }
  
  
  .slide[data-state=active] {
    display: block;
  }
  
  .indicators {
    position: absolute;
    bottom: -138px;
    right: -62px;
  }
  
  .indicator {
      cursor: pointer;
  }

  .slide-image{
    width: 826px !important;
    height: 551px !important;
  }